{% load static %}


<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>ZEMLYANKA</title>

        <!-- CSS FILES -->  
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">                      
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'css/tooplate-crispy-kitchen.css' %}" rel="stylesheet">
<!--

Tooplate 2129 Crispy Kitchen

https://www.tooplate.com/view/2129-crispy-kitchen

-->
    </head>
    
    <body>
        
        <nav class="navbar navbar-expand-lg bg-white shadow-lg">
            {% for i in detailheader %}
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <a class="navbar-brand" href="{% url 'index' %}">
                    {{ i.name }}
                </a>

                <div class="d-lg-none">
                    <button type="button" class="custom-btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#BookingModal">Reservation</button>
                </div>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">{{ i.about }}</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">{{ i.about1 }}</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'menu' %}">{{ i.about2 }}</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'news' %}">{{ i.about3 }}</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">{{ i.about4 }}</a>
                        </li>
                    </ul>
                </div>

                <div class="d-none d-lg-block">
                    <button type="button" class="custom-btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#BookingModal">{{ i.about5 }}</button>
                </div>

            </div>
            {% endfor %}
        </nav>

        <main>

            <header class="site-header site-news-detail-header">
                {% for i in detailhead %}
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>{{ i.name }}</h2>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </header>

            <section class="news-detail section-padding pt-0">
                {% for i in detailbody %}
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <img src="{{ i.img.url }}" class="img-fluid news-detail-image" alt="fine dining experience">

                            <div class="col-lg-10 col-10 mx-auto mt-5">
                                
                                <h4 class="mb-3">{{ i.name }}</h4>

                                <p>{{ i.about }}</p>

                                <ul class="list">
                                    <li class="list-item">{{ i.about1 }}</li>

                                    <li class="list-item">{{ i.about2 }}</li>

                                    <li class="list-item">{{ i.about3 }}</li>
                                </ul>

                                <p>{{ i.about4 }}</p>

                                <div class="ratio ratio-16x9 my-5">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6vebbDZxoKE?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>

                                <p>{{ i.about5 }}<a href="https://www.tooplate.com/contact" target="_blank"> անցնել հղումով։</a></p>

                                <h5 class="mt-4 mb-3">{{ i.name1 }}</h5>

                                <p>{{ i.about6 }}</p>
                            </div>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </section>

            <section class="comments section-padding">
                {% for i in detailcomment %}
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <h4 class="text-center mb-4">{{ i.name }}</h4>
                        </div>

                        <div class="col-lg-7 col-12 mx-auto">
                            <form class="custom-form comment-form" action="#" method="get" role="form">
                            	
                                <input type="text" name="comment-name" id="comment-name" class="form-control" placeholder="Անուն" required>
                                
                                <input type="email" name="comment-email" id="comment-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Էլ․ փոստ" required="">
                            
                                <textarea class="form-control" rows="5" id="comment" name="comment" placeholder="Գրել մեկնաբանություն" required></textarea>

                                <div class="col-lg-3 col-4 mx-auto">
                                    <button type="submit" class="form-control" id="subscribe">{{ i.name1 }}</button>
                                </div>
                            </form>

                            <div class="news-author d-flex flex-wrap align-items-center">
                                <img src="{{ i.img.url }}" class="img-fluid news-author-image" alt="">

                                <div class="ms-4 w-50">
                                    <p class="mb-2">{{ i.about }}</p>
                                    
                                    <a href="#">{{ i.name2 }}</a>
                                </div>

                                <span class="ms-auto">{{ i.about1 }}</span>
                            </div>

                            <div class="news-author d-flex flex-wrap align-items-center">
                                <img src="{{ i.img1.url }}" class="img-fluid news-author-image" alt="">

                                <div class="ms-4 w-50">
                                    <p class="mb-2">{{ i.about2 }}</p>
                                    
                                    <a href="#">{{ i.name3 }}</a>
                                </div>

                                <span class="ms-auto">{{ i.about3 }}</span>
                            </div>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </section>

            <section class="related-news section-padding bg-white">
                <div class="container">
                    <div class="row">
                        {% for i in detailnew %}
                        <h2 class="text-center mb-lg-5 mb-4">{{ i.name }}</h2>
                        {% endfor %}
                        {% for i in detailnewimage %}
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="news-thumb mb-4">
                                <a href="{% url 'news-detail' %}">
                                    <img src="{{ i.img.url }}" class="img-fluid news-image" alt="">
                                </a>
                                
                                <div class="news-text-info">
                                    <span class="category-tag me-3 bg-info">{{ i.about }}</span>

                                    <strong>{{ i.about1 }}</strong>

                                    <h5 class="news-title mt-2">
                                        <a href="{% url 'news-detail' %}" class="news-title-link">{{ i.name }}</a>
                                    </h5>
                                </div>
                            </div> 
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

            <section class="newsletter section-padding">
                {% for i in detailnewsletter %}
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <img src="{{ i.img.url }}" class="img-fluid newsletter-image" alt="">
                        </div>

                        <div class="col-lg-6 col-12 d-flex align-items-center mt-5 mt-lg-0 mx-auto">
                            <div class="subscribe-form-wrap">
                                <h4 class="mb-0">{{ i.name }}</h4>

                                <p>{{ i.about }}</p>

                                <form class="custom-form subscribe-form mt-4" role="form">
                                    <input type="email" name="subscribe-email" id="subscribe-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Էլ․ փոստի հասցեն" required="">

                                    <button type="submit" class="form-control mb-3" id="subscribe">{{ i.name1 }}</button>

                                    <small>{{ i.about1 }}</small>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </section>

        </main>

        <footer class="site-footer section-padding">
            {% for i in detailfoot %}
            <div class="container">
                
                <div class="row">

                    <div class="col-12">
                        <h4 class="text-white mb-4 me-5">{{ i.name }}</h4>
                    </div>

                    <div class="col-lg-4 col-md-7 col-xs-12 tooplate-mt30">
                        <h6 class="text-white mb-lg-4 mb-3">{{ i.name1 }}</h6>

                        <p>{{ i.about }}</p>

                        <a href="https://www.google.co.th/maps/place/%D0%97%D0%B5%D0%BC%D0%BB%D1%8F%D0%BD%D0%BA%D0%B0+%D0%A0%D0%B5%D1%81%D1%82%D0%BE%D1%80%D0%B0%D0%BD/@40.7781622,43.8240053,17z/data=!3m1!4b1!4m5!3m4!1s0x4041fdaebf0a1353:0x47e115baf5d02f2f!8m2!3d40.7781622!4d43.826194" class="custom-btn btn btn-dark mt-2">{{ i.name2 }}</a>
                    </div>

                    <div class="col-lg-4 col-md-5 col-xs-12 tooplate-mt30">
                        <h6 class="text-white mb-lg-4 mb-3">{{ i.about3 }}</h6>

                        <p class="mb-2">{{ i.about1 }}</p>

                        <p>{{ i.about2 }}</p>

                        <p>{{ i.about3 }}</p>
                    </div>

                    <div class="col-lg-4 col-md-6 col-xs-12 tooplate-mt30">
                        <h6 class="text-white mb-lg-4 mb-3">{{ i.name4 }}</h6>

                        <ul class="social-icon">
                            <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                            <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                            <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                        </ul>
                    
                        <p class="copyright-text tooplate-mt60">{{ i.about4 }}
                        <br>Դիզայն։ <a rel="nofollow" href="https://www.tooplate.com/" target="_blank">Դիտել</a></p>
                        
                    </div>

                </div><!-- row ending -->
                
             </div><!-- container ending -->
             {% endfor %}
        </footer>

        <!-- Modal -->
        <div class="modal fade" id="BookingModal" tabindex="-1" aria-labelledby="BookingModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                {% for i in detailrevers %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="mb-0">{{ i.name }}</h3>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body d-flex flex-column justify-content-center">
                        <div class="booking">
                            
                            <form class="booking-form row" role="form" action="#" method="post">
                                <div class="col-lg-6 col-12">
                                    <label for="name" class="form-label">{{ i.about }}</label>

                                    <input type="text" name="name" id="name" class="form-control" placeholder="Անուն" required>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <label for="email" class="form-label">{{ i.about1 }}</label>

                                    <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="your@email.com" required>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <label for="phone" class="form-label">{{ i.about2 }}</label>

                                    <input type="telephone" name="phone" id="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" placeholder="(012)345-678">
                                </div>

                                <div class="col-lg-6 col-12">
                                    <label for="people" class="form-label">{{ i.about3 }}</label>

                                    <input type="text" name="people" id="people" class="form-control" placeholder="12 անձ">
                                </div>

                                <div class="col-lg-6 col-12">
                                    <label for="date" class="form-label">{{ i.about4 }}</label>

                                    <input type="date" name="date" id="date" value="" class="form-control">
                                </div>

                                <div class="col-lg-6 col-12">
                                    <label for="time" class="form-label">{{ i.about5 }}</label>

                                    <select class="form-select form-control" name="time" id="time">
                                      <option value="5" selected>17:00</option>
                                      <option value="6">18:00</option>
                                      <option value="7">19:00</option>
                                      <option value="8">20:00</option>
                                      <option value="9">21:00</option>
                                    </select>
                                </div>

                                <div class="col-12">
                                    <label for="message" class="form-label">{{ i.about6 }}</label>

                                    <textarea class="form-control" rows="4" id="message" name="message" placeholder=""></textarea>
                                </div>

                                <div class="col-lg-4 col-12 ms-auto">
                                    <button type="submit" class="form-control">{{ i.name1 }}</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="modal-footer"></div>
                    
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>

    </body>
</html>
